<a href="https://colab.research.google.com/github/SanketIngole19/Glassdoor-Salary-Prediction/blob/main/Glassdoor_Salary_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Glassdoor Salary Prediction

Github Link - https://github.com/SanketIngole19/Glassdoor-Salary-Prediction

Project Type - EDA/LinearRegression/NLP/RandomForestRegression/Stacking Regressor
Contribution - Individual

Project Summary -
In the fast-paced tech industry, salary trends are influenced by factors like job role, company size, experience, and location. Understanding these patterns is essential for job seekers, employers, and policymakers.

This project analyzes Glassdoor job postings data (2017) to predict salaries for various tech roles. By examining key features such as job title, company size, and location, it uncovers salary trends, compares compensation across industries, and provides valuable insights for salary expectations

Problem Statement -
How does salary vary by job position (e.g., Data Scientist vs. Software Engineer vs. DevOps Engineer)?

What is the impact of company size on salary levels? How do salaries differ by location (e.g., San Francisco vs. Austin vs. New York)?

Can we build a predictive model to estimate salaries based on job attributes?

Import Libraries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

Dataset Loading

In [ ]:
# Load Dataset
df = pd.read_csv('/content/drive/MyDrive/glassdoor_jobs.csv')

Dataset First View

In [ ]:
# Dataset First Look
df.head(2)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1

Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
df.shape

(956, 15)

Dataset Information

In [ ]:
# Dataset Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         956 non-null    int64
 1   Job Title          956 non-null    object
 2   Salary Estimate    956 non-null    object
 3   Job Description    956 non-null    object
 4   Rating             956 non-null    float64
 5   Company Name       956 non-null    object
 6   Location           956 non-null    object
 7   Headquarters       956 non-null    object
 8   Size               956 non-null    object
 9   Founded            956 non-null    int64
 10  Type of ownership  956 non-null    object
 11  Industry           956 non-null    object
 12  Sector             956 non-null    object
 13  Revenue            956 non-null    object
 14  Competitors        956 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 112.2+ KB

Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
df.duplicated().sum()

np.int64(0)

Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
df.isnull().sum()

Unnamed: 0           0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

What did you know about your dataset?

The Dataset has Jobtitles and its relevant informations like Job description, salary range, job location and as such.

The Dataset has total 956 rows and 15 columns

There are no null/missing values in the dataset

There are no duplicate entries in the dataset

. Understanding Your Variables

In [ ]:
# Dataset Columns
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [ ]:
# Dataset Describe
df.describe()

       Unnamed: 0      Rating      Founded
count  956.000000  956.000000   956.000000
mean   477.500000    3.601255  1774.605649
std    276.117729    1.067619   598.942517
min      0.000000   -1.000000    -1.000000
25%    238.750000    3.300000  1937.000000
50%    477.500000    3.800000  1992.000000
75%    716.250000    4.200000  2008.000000
max    955.000000    5.000000  2019.000000

Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
variables = ['Job Title', 'Company Name', 'Location', 'Headquarters',
       'Type of ownership', 'Industry', 'Sector', 'Revenue',]

for variable in variables:
  print(f'Unique variables in {variable} are {df[variable].unique()}','\n')

Unique variables in Job Title are ['Data Scientist' 'Healthcare Data Scientist' 'Research Scientist'
 'Staff Data Scientist - Technology' 'Data Analyst' 'Data Engineer I'
 'Scientist I/II, Biology' 'Customer Data Scientist'
 'Data Scientist - Health Data Analytics'
 'Senior Data Scientist / Machine Learning'
 'Data Scientist - Quantitative' 'Digital Health Data Scientist'
 'Associate Data Analyst' 'Clinical Data Scientist'
 'Data Scientist / Machine Learning Expert' 'Web Data Analyst'
 'Senior Data Scientist' 'Data Engineer'
 'Data Scientist - Algorithms & Inference' 'Scientist'
 'Data Science Analyst' 'Lead Data Scientist'
 'Spectral Scientist/Engineer'
 'College Hire - Data Scientist - Open to December 2019 Graduates'
 'Data Scientist, Office of Data Science' 'Business Intelligence Analyst'
 'Senior Risk Data Scientist'
 'Data Scientist in Artificial Intelligence Early Career'
 'Data Scientist - Research' 'R&D Data Analysis Scientist'
 'Analytics Consultant' 'Director, Data Science' 'Data Scientist SR'
 'R&D Sr Data Scientist' 'Customer Data Scientist/Sales Engineer (Bay'
 'Jr. Business Data Analyst' 'Data Management Specialist'
 'Machine Learning Engineer' 'E-Commerce Data Analyst'
 'Data Engineer Intern' 'Sr. Scientist II' 'Insurance Data Scientist'
 'Data Scientist Analyst' 'Data Modeler' 'Data Analyst / Scientist'
 'Scientist, Stem Cells and Genomics' 'Data Scientist, Rice University'
 'Financial Data Analyst' 'Postdoc Scientist - T cell engineering'
 'Senior Data Analyst' 'Ag Data Scientist' 'Principal Data Scientist'
 'Data Platform Engineer' 'Chief Data Scientist' 'Data Scientist II'
 'Senior Data Engineer' 'Project Scientist'
 'Senior Data Scientist - AI Forecasting, Finance team'
 'Data Analytics Manager'
 'Senior Machine Learning (ML) Engineer / Data Scientist - Cyber Security Analytics'
 'Weapons and Sensors Engineer/Scientist  Entry Level'
 'Associate Scientist' 'Scientist 2, QC Viral Vector'
 'Data Scientist/ML Engineer' 'Senior Scientist - Bioanalytical'
 'Sr. Data Scientist' 'Scientist, Biomarker Science'
 'Data Engineer 4 - Contract' 'Data Analyst - Asset Management'
 'Senior Research Scientist - Embedded System Development for DevOps'
 'Data Scientist - Bioinformatics'
 'Customer Data Scientist/Sales Engineer' 'Data Analyst II'
 'MongoDB Data Engineer II' 'Senior Data Scientist Statistics'
 'Senior Analytical Scientist' 'Senior Spark Engineer (Data Science)'
 'BI & Platform Analytics Manager'
 'Sr. Data Scientist - Analytics, Personalized Healthcare (PHC)'
 'Data Scientist (Active TS SCI with Polygraph)'
 'Pricipal Scientist Molecular and cellular biologist'
 'Data Scientist (Actuary, FSA or ASA)' 'Staff Data Scientist'
 'Front-End, Back-End, Fullstack Developers & Data Scientist / Researchers - Cleared OR CLEARABLE (Up to 25% Profit Sharing Benefit!)'
 'Data Engineer 5 - Contract (Remote)' 'Senior Scientist - Neuroscience'
 'Senior Director Biometrics and Clinical Data Management'
 'Medical Lab Scientist' 'Risk and Analytics IT, Data Scientist'
 'Scientist, Analytical Development' 'Analytics Manager'
 'Digital Marketing & ECommerce Data Analyst'
 'Sr. Scientist - Digital & Image Analysis/Computational Pathology'
 'Principal Scientist - Immunologist'
 'Principal Data Scientist with over 10 years experience'
 'MED TECH/LAB SCIENTIST - LABORATORY'
 'Sr. Scientist, Quantitative Translational Sciences'
 'Sr. Data Scientist II' 'Excel / VBA / SQL Data Analyst'
 'Machine Learning Research Scientist' 'VP, Data Science'
 'Radar Data Analyst' 'Quality Control Scientist' 'AWS Data Engineer'
 'PL Actuarial-Lead Data Scientist'
 'Deep Learning/Computer Vision Scientist' 'PV Scientist'
 'Senior Data & Machine Learning Scientist'
 'Principal Data Scientist (Computational Chemistry)'
 'Data Systems Specialist 2' 'Principal Scientist, Chemistry & Immunology'
 'Software Engineer - Data Visualization'
 'Scientist/Senior Scientist, Autoimmune'
 'Data Engineer 4 - Contract (Remote)' 'UX Data Scientist (Python)'
 'Staff Machine Learning Engineer' 'Principal Scientist, Hematology'
 'Lead Data Engineer'
 'Pharmacovigilance Scientist (Senior Pharmacovigilance)'
 'Data Science Manager' 'Marketing Data Analyst'
 'Medical Laboratory Scientist' 'R&D Specialist/ Food Scientist'
 'Senior Research Scientist-Machine Learning' 'Data Engineer with R'
 'Analytics Manager - Data Mart'
 'Sr. Data Engineer - Contract-to-Hire (Java)'
 'MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB' 'Food Scientist - Developer'
 'Data Engineer 5 - Contract'
 'Staff Scientist-Downstream Process Development' 'Sr. Data Engineer'
 'Senior Research Statistician- Data Scientist'
 'Business Data Analyst, SQL'
 'Medical Technologist / Clinical Laboratory Scientist'
 'ATL - Data & Analytics (DA)'
 'Associate Data Scientist/Computer Scientist'
 'Business Intelligence Analyst / Developer' 'System and Data Analyst'
 'Data Science Intern' 'Environmental Scientist'
 'Environmental Data Specialist' 'Data & Analytics Consultant (NYC)'
 'Big Data Engineer - Chicago - Future Opportunity'
 'Real World Evidence (RWE) Scientist' 'Survey Data Analyst'
 'Data Scientist - Consultant - National'
 'Lead Health Data Analyst - Front End' 'Junior Data Analyst'
 'SQL Data Engineer' 'Sr. Data Scientist, Cyber-Security LT Contract'
 'MSP - Data & Analytics (DA)' 'Insurance Financial Data Analyst'
 'Data Engineer I - Azure' 'Information Security Data Analyst'
 'Data Scientist, Senior' 'CONSULTANT DATA ANALYTICS GROUP'
 'Data Analyst Level III'
 'Data Engineer, Data Engineering and Artifical Intelligence'
 'Staff Scientist'
 'Associate Scientist/Scientist, Process Analytical Technology - Small Molecule Analytical Chemistry'
 'Sr. Data Analyst' 'Program/Data Analyst'
 'Senior Data Scientist: Causal & Predictive analytics AI Innovation Lab'
 'Health Data Analyst/Developer'
 'Principal Data Engineer, Data Platform & Insights'
 'RESEARCH SCIENTIST - BIOLOGICAL SAFETY' 'Data Operations Lead'
 'Big Data Engineer' 'Clinical Data Analyst'
 'Computational Chemist/Data Scientist' 'Product Engineer  Data Science'
 'Market Data Analyst' 'Staff Data Engineer' 'Associate Data Engineer'
 'Scientist  Cancer Drug Discovery' 'Staff BI and Data Engineer'
 'Director - Data, Privacy and AI Governance'
 'Scientist Manufacturing - Kentucky BioProcessing'
 'Data Analytics Project Manager' 'Consultant - Analytics Consulting'
 'Senior Scientist (Neuroscience)'
 'Machine Learning Engineer - Regulatory' 'Scientist, Bacteriology'
 'Associate Director, Platform and DevOps- Data Engineering and Aritifical Intelligence'
 'Clinical Laboratory Scientist' 'Chief Data Officer'
 'Head Data Scientist  NLP lead, Novartis AI Innovation Lab'
 'Senior Data Scientist - R&D Oncology'
 'Director II, Data Science - GRM Actuarial' 'Clinical Data Manager'
 'Scientist, Molecular/Cellular Biologist'
 'Scientist - Analytical Services'
 'Associate Data Analyst- Graduate Development Program'
 'Head Data Scientist  Image Analytics lead, Novartis AI Innovation Lab'
 'Senior Insurance Data Scientist' 'Senior Data Science Systems Engineer'
 'ENVIRONMENTAL ENGINEER/SCIENTIST' 'Scientist, Product Development'
 'Senior Scientist - Regulatory Submissions'
 'Scientist - Biomarker and Flow Cytometry' 'Revenue Analytics Manager'
 'Associate Scientist, LC/MS Biologics' 'Sr. Scientist Method Development'
 'IT - Data Engineer II' 'Research Scientist, Immunology - Cancer Biology'
 'Project Scientist - Auton Lab, Robotics Institute'
 'Staff Machine Learning Scientist, AI Foundation'
 'Sr. Enterprise Account Exec- Data Science / ML - NYC'
 'Enterprise Architect, Data' 'Advanced Analytics Manager'
 'Senior Manager, Epidemiologic Data Scientist'
 'Corporate Risk Data Analyst (SQL Based) - Milwaukee or'
 'Senior Imagery Scientist - SAR TO 11 #78 (TS/SCI)'
 'Marketing Data Analyst, May 2020 Undergrad'
 'Data Modeler - Data Solutions Engineer'
 'Associate Environmental Scientist - Wildlife Biologist'
 'Associate, Data Science, Internal Audit'
 'Sr Data Engineer (Sr BI Developer)' 'Senior LiDAR Data Scientist'
 'Salesforce Analytics Consultant'
 'Technology-Minded, Data Professional Opportunities'
 'Managing Data Scientist/ML Engineer' 'Scientist, Pharmacometrics'
 'Staff Scientist- Upstream PD'
 'Scientist Manufacturing Pharma - Kentucky BioProcessing'
 'Senior Clinical Lab Scientist, Clinical Lab Svcs - FT/Nights (8hr)'
 'Lead Big Data Engineer'
 'Product Engineer  Spatial Data Science and Statistical Analysis'
 'Sr Software Engineer (Data Scientist)'
 'Sr. Data Engineer (ETL Developer)' 'Sr. Microsoft Data Engineer'
 'Senior Data Scientist Artificial Intelligence'
 'Scientist, Upstream Process Development (Bioreactors)'
 'Diversity and Inclusion Data Analyst'
 'Lab Head, Principle Scientist, Dupixent/Type 2 Inflammation & Fibrosis - Cambridge, MA'
 'Analytics - Business Assurance Data Analyst'
 'Associate Director/Director, Safety Scientist'
 'Senior Scientist, Cell Pharmacology/Assay Development'
 'Data Analyst Senior' 'Lead Data Engineer (Python)'
 'Senior Data Scientist 4 Artificial Intelligence'
 'Medical Lab Scientist - MLT'
 'Senior Operations Data Analyst, Call Center Operations'
 'Director II, Data Science - GRS Predictive Analytics'
 'RESEARCH COMPUTER SCIENTIST - RESEARCH ENGINEER - SR. COMPUTER SCIENTIST - SOFTWARE DEVELOPMENT'
 'Geospatial Software Developer and Data Scientist'
 'Chief Scientist - Emerging Technology Center'
 'Senior Scientist - Toxicologist - Product Integrity (Stewardship)'
 'Senior Scientist Protein/Oligonucleotides'
 'Systems Engineer II - Data Analyst'
 'Senior Research Analytical Scientist-Non-Targeted Analysis'
 'Director Data Science' 'Sr Data Analyst - IT'
 'Senior Scientist, Logic Gated CAR T Cell Therapy'
 'Associate Machine Learning Engineer / Data Scientist May 2020 Undergrad'
 'Senior Scientist - Biostatistician'
 'Principal Machine Learning Scientist' 'Sr. BI Data Engineer III'
 'Data Analyst, Performance Partnership' 'Data Scientist Manager'
 'Process Development Scientist' 'Sr Data Scientist'
 'Software Data Engineer - College' 'Senior Data Scientist - Algorithms'
 'Senior Data Scientist Oncology' 'Data Scientist - Alpha Insights'
 'Associate Principal Scientist, Pharmacogenomics'
 'Data Scientist - Systems Engineering'
 'Data Engineer - Consultant (Charlotte Based)'
 'Data Analyst 1, full-time contract worker for up to 12 months'
 'Scientist, Immuno-Oncology' 'Products Data Analyst II'
 'Lead Data Analyst' 'Data Science Engineer - Mobile'
 'Scientist - Analytical Development - Pharmaceutics'
 'Sr Expert Data Science, Advanced Visual Analytics (Associate level)'
 'IT Associate Data Analyst' 'Business Data Analyst'
 'Data Scientist - Sales' 'Principal, Data Science - Advanced Analytics'
 'Data Science Project Manager' 'Sr Scientist, Immuno-Oncology - Oncology'
 'Research Scientist  Security and Privacy'
 'Data Analyst 2 (Missionary Department)' 'Supply Chain Data Analyst'
 'Data Engineer - ETL' 'Clinical Document Review Scientist'
 'Data Modeler (Analytical Systems)'
 'Data Scientist in Translational Medicine'
 'Product Manager/Data Evangelist'
 'Senior Data Scientist  Visualization, Novartis AI Innovation Lab'
 'Senior Data Analyst/Scientist' 'Machine Learning Scientist'
 'Scientist  Cancer Discovery, Molecular Assay'
 'Data Engineering Analyst' 'Manager of Data Science'
 'Software Engineer (Data Scientist/Software Engineer) - SISW - MG'
 'Associate Research Scientist I (Protein Expression and Production)'
 'Head Data Scientist, Predictive Analytics Lead AI Innovation Lab'
 'Director, Precision Medicine Clinical Biomarker Scientist'
 'Senior Formulations Scientist II' 'Senior Quantitative Analyst'
 'Tech Manager, Software Engineering - Data'
 'Business Development - Data Supply Partnerships (Veraset)'
 'Research Scientist or Senior Research Scientist - Computer Vision'
 'Data Analyst Chemist - Quality System Contractor'
 'Sr. Manager, Data Science - Marketing Mix Media'
 'Sr. Scientist, Toxicology'
 'Research Scientist / Principal Research Scientist - Multiphysical Systems'
 'Research Scientist, Machine Learning Department'
 'Foundational Community Supports Data Analyst'
 'Senior Health Data Analyst, Star Ratings'
 'Principal Research Scientist/Team Lead, Medicinal Chemistry - Oncology'
 'Senior Engineer, Data Management Engineering'
 'Quality Control Scientist III- Analytical Development'
 'Clinical Scientist, Clinical Development'
 'Software Engineer Staff Scientist: Human Language Technologies'
 'Manager, Safety Scientist, Medical Safety & Risk Management'
 'Assistant Director/Director, Office of Data Science'
 'Sr. Data Engineer | Big Data SaaS Pipeline'
 'Scientist - CVRM Metabolism - in vivo pharmacology'
 'Data Scientist (Warehouse Automation)' 'Jr. Data Scientist'
 'Data Architect / Data Modeler' 'Data Scientists'
 'Associate Scientist / Sr. Associate Scientist, Antibody Discovery'
 'Machine Learning Engineer (NLP)']

Unique variables in Company Name are ['Tecolote Research\n3.8' 'University of Maryland Medical System\n3.4'
 'KnowBe4\n4.8' 'PNNL\n3.8' 'Affinity Solutions\n2.9' 'CyrusOne\n3.4'
 'ClearOne Advantage\n4.1' 'Logic20/20\n3.8'
 'Rochester Regional Health\n3.3' '<intent>\n4.6' 'Wish\n3.5'
 'ManTech\n4.1' 'Walmart\n3.2' 'Yesler\n4.1' 'Takeda Pharmaceuticals\n3.7'
 'Audible\n3.6' 'Blueprint Medicines\n3.9' 'h2o.ai\n4.3' 'Nuna\n4.2'
 'Pinnacol Assurance\n4.0' 'Porch\n3.2' 'Health IQ\n3.9'
 'Truckstop.com\n3.8' 'SMC 3\n4.3' 'Mars\n3.9' 'Novetta\n4.0'
 'Pfizer\n4.0' 'First Tech Federal Credit Union\n3.5'
 'The Hanover Insurance Group\n3.7' 'Amrock\n3.6' 'Novartis\n3.8'
 'Juniper Networks\n3.8' 'New England Biolabs\n4.7'
 'Clarity Insights\n4.2' 'Esri\n3.5' 'Systems & Technology Research\n4.7'
 'Sartorius\n3.5' 'Lancer Insurance\n3.5' 'Sauce Labs\n4.2' 'Amount\n4.1'
 'Persivia\n3.6' 'Edgewell Personal Care\n3.4' 'Equity Residential\n4.3'
 'Brightside\n5.0' 'BPA Services\n5.0' 'Visa Inc.\n3.7' 'Intrado\n3.1'
 'Centauri\n4.7' 'Caterpillar\n3.7' 'Anson McCade\n4.5'
 'Zimmerman Advertising\n3.8' 'Liberty Mutual Insurance\n3.3'
 'Torch Technologies, Inc.\n4.6' 'Swiss Re\n3.7' 'Northrop Grumman\n3.7'
 'Netskope\n4.1' '1904labs\n4.7' 'Amica Mutual\n3.1'
 'The David J. Joseph Company\n4.4' 'USEReady\n4.3' 'Bill.com\n3.8'
 'Pacific Northwest National Laboratory\n3.8' 'Blue Owl\n4.5'
 "DICK'S Sporting Goods - Corporate\n3.8" 'Great-Circle Technologies\n2.2'
 'Berg Health\n2.8' 'Oversight Systems\n4.7' 'Avlino\n4.9' 'C Space\n3.1'
 'Numeric, LLC\n3.2' 'HP Inc.\n4.0' 'SpringML\n4.4' 'Grainger\n3.6'
 'EAG Laboratories\n2.7' 'The Buffalo Group\n3.9' 'Carmeuse\n3.1'
 'GNS Healthcare\n1.9' 'Peraton\n3.3' 'Pactera\n4.4' 'Nurx\n3.9'
 'webfx.com\n4.7'
 'Johns Hopkins University Applied Physics Laboratory\n4.5'
 'Productive Edge\n4.3' 'Excella Consulting\n4.0' 'Gensco\n4.4'
 'goTRG\n4.2' 'NMR Consulting\n4.5' 'Kodiak Robotics\n4.9' 'iSeatz\n3.5'
 'ThousandEyes\n4.7' 'Nektar Therapeutics\n3.5' 'TransUnion\n3.9'
 'Peterson Technology Partners\n4.0' 'IT Concepts\n4.7'
 'Scientific Research Corporation\n4.2'
 'General Dynamics Information Technology\n3.4' 'MITRE\n3.2'
 'DentaQuest\n3.1' 'Redjack\n4.1' 'Alector\n5.0' '7Park Data\n3.8'
 'Rapid Response Monitoring\n4.7' 'Bridgerock Data'
 'NuWave Solutions\n4.5' 'Trilogy Ed\n4.3' 'Gallup\n4.2' 'CapTech\n3.9'
 'American Axle & Manufacturing\n3.3' 'CentralReach\n4.7' 'LEAH Labs'
 'Integrate\n4.3' 'Boys Town Hospital\n2.9' 'Demandbase\n4.5'
 'Sapphire Digital\n3.4' 'Formation\n3.2' 'Autodesk\n4.0'
 "Beck's Hybrids\n4.6" 'DrFirst\n2.8' 'Object Partners\n4.7' 'Briq\n4.9'
 'Geomagical Labs' 'Teaching Strategies, LLC\n3.1'
 'L.A. Care Health Plan\n3.0' 'Red Ventures\n3.2' 'Quick Base\n4.4'
 'The E.W. Scripps Company\n3.5' 'Upside Business Travel\n4.0'
 'Synagro\n2.3' 'Alliance Source Testing\n4.0'
 'Accuride International\n3.6' 'Full Potential Solutions\n3.8'
 'Maven Wave Partners\n4.4' 'My Job Tank\n3.6' 'Dynetics\n3.8'
 'First Command Financial Services, Inc.\n3.2' 'Pharmavite\n2.9'
 'BioMarin Pharmaceutical\n3.8' 'ShorePoint\n4.5' 'Stratagem Group\n4.3'
 'PA Consulting\n3.4' 'Apellis Pharmaceuticals\n4.1' 'Gridiron IT\n5.0'
 'Hygiena\n4.0' 'Evolve Vacation Rental\n3.7'
 'The Church of Jesus Christ of Latter-day Saints\n4.2'
 'Maximus Real Estate Partners\n4.3' 'Software Engineering Institute\n2.6'
 'AVANADE\n3.9' 'PatientPoint\n3.8' 'Insight Enterprises, Inc.\n4.1'
 'BlueCross BlueShield of Tennessee\n3.8' 'KSM Consulting\n4.4'
 'Cogo Labs\n3.9' 'Church & Dwight\n3.4' 'MassMutual\n3.6'
 'Genentech\n3.9' 'Volume Integration, LLC\n4.4'
 'Legal & General America\n3.8' 'Western Digital\n3.5'
 'CACI International\n3.5' 'Sunovion\n3.5'
 'National Student Clearinghouse\n2.9' 'Hamilton Porter LLC\n5.0'
 'Tower Health\n3.6' 'State of Wisconsin Investment Board\n2.7'
 'Rubius Therapeutics\n4.4' 'OneMagnify\n4.3' 'IZEA\n4.2'
 'Vionic Group\n3.6' 'Dodge Data & Analytics\n2.8'
 'Plymouth Rock Assurance\n3.3' 'CA-One Tech Cloud'
 'Beebe Healthcare\n3.6' 'Argo Group US\n3.4'
 'Associated Electric Cooperative\n4.1' 'Seen by Indeed' 'PennyMac\n3.2'
 'Zest AI\n3.9' 'DECISIVE ANALYTICS Corporation\n4.7' 'Aptonet Inc\n5.0'
 'Karyopharm Therapeutics Inc.\n2.9' 'Tempus Labs\n3.0'
 'Recursion Pharmaceuticals\n4.7' 'P2 Energy Solutions\n3.7'
 'ClearEdge\n4.0' 'OSI Engineering\n4.4' 'Tapjoy\n3.9'
 'Credit Sesame\n4.1' 'Octane\n4.2' 'Greenwich Biosciences\n4.6'
 'Decode_M' 'San Manuel Casino\n3.6' 'Texas Health Huguley Hospital\n4.0'
 'GSN Games\n4.5' 'Teasdale Latin Foods\n2.4' 'Redstream Technology\n4.1'
 'Central California Alliance for Health\n3.5'
 'Pilot Flying J Travel Centers LLC\n3.0' "Palermo's Pizza\n3.3"
 'Advanced BioScience Laboratories\n2.7' 'Echo Global Logistics\n3.4'
 'Lockheed Martin\n3.7' 'Acuity Insurance\n4.8' 'Fareportal\n3.8'
 'Veterans Affairs, Veterans Health Administration\n3.4' 'Credera\n4.3'
 'Daugherty Business Solutions\n4.3'
 'Spectrum Communications and Consulting\n3.4' 'NCSOFT\n3.1'
 'Dayton Freight Lines, Inc.\n4.3'
 'Community Action Partnership of San Luis Obispo\n2.8' 'TrueAccord\n3.4'
 'DRB Systems\n4.0' 'Corcentric\n3.7' 'Blend360\n4.6' 'U.Group\n3.5'
 'Calista\n2.4' 'Sandhills Global\n2.5' 'Hire Resolve\n3.8'
 'Systems Evolution Inc.\n4.7' 'Eventbrite\n4.4' 'Centro\n4.1'
 'comScore\n2.5' 'Genesis Research\n5.0' 'SullivanCotter\n4.2' 'NPD\n3.9'
 'Bakery Agency\n4.3' 'Service Express\n4.3' 'Rose International\n4.5'
 'Blue Cross & Blue Shield of Rhode Island\n3.4' 'Boys Town\n3.8'
 'The HSC Health Care System\n3.3' 'Pro-Sphere Tek\n3.4'
 'Ameritas Life Insurance Corp\n3.0' 'Genworth\n3.7' '605\n5.0'
 'Trace Data\n3.9' 'Clearwater Analytics\n4.2' 'NS8\n5.0'
 'Tekvalley, Corp.\n4.0' 'SmartNews, Inc.\n4.6' 'BWX Technologies\n3.5'
 'Vermeer\n3.9' 'Cambridge Trust Company\n3.6' 'Zylotech\n3.7'
 'Redapt\n3.6' 'L&T Infotech\n3.5' 'OceanFirst Financial\n4.3'
 'Northpointe Bank\n4.7' "Sotheby's\n3.6" 'Vanda Pharmaceuticals\n2.3'
 'CK-12 Foundation\n4.1' 'Opinion Dynamics\n4.2'
 'Applied Information Sciences\n4.6' 'PM2CM' 'WK Dickson\n4.4'
 'Freedman Healthcare\n5.0' 'Randstad\n3.6'
 'Southwest Research Institute\n3.9' 'Muso' 'CyberCoders\n4.2'
 'The Integer Group\n2.2' 'McCarthy Building Co\n4.3' 'SciPlay\n4.0'
 'GovTech\n3.6' 'Samba TV\n3.3' 'SV Microwave\n3.4' 'Sumo Logic\n3.8'
 'EAB\n3.5' 'Brighthouse Financial\n3.5' 'Monte Rosa Therapeutics'
 'Citadel Federal Credit Union\n3.9' 'CALIBRE Systems\n3.7'
 'Motorola Solutions\n3.7' 'Reynolds American\n3.1' 'Infosys\n3.0'
 'Alignment Healthcare\n3.5' 'FrankCrum Staffing\n3.3'
 'Cboe Global Markets\n3.7' 'Guidepoint\n3.2' 'Cerus Corporation\n2.1'
 'Vail Health\n3.7' 'Qualifacts Systems, Inc.\n3.1'
 'Sterling National Bank\n2.7' 'AstraZeneca\n3.9' 'MathWorks\n4.4'
 'MetroStar Systems\n3.4' 'NJF Global Holdings\n4.1'
 'Audentes Therapeutics\n2.9' 'National Interstate\n3.3'
 'Moser Consulting\n4.5' 'Mcphail Associates\n3.3' 'Crown Bioscience\n2.4'
 'HOVER\n4.8' 'Q2 Solutions\n2.9' 'Arbella Insurance\n3.4' 'Kronos Bio'
 'IGNW\n4.8' 'Health Union\n4.8' 'Associated Banc-Corp\n3.8'

Data Wrangling

Data Wrangling Code

In [ ]:
# dropping the Unnamed: 0 column, as it is of no significance

df.drop('Unnamed: 0',axis=1,inplace=True)
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [ ]:
# -1 in competitors are missing values, hence substituting the values with NA
df['Competitors'] = df['Competitors'].replace('-1',pd.NA)

In [ ]:
df[['Minimum Salary', 'Maximum Salary']] = df['Salary Estimate'].str.replace(r'\s*\(Glassdoor est.\)', '', regex=True).str.replace("$", "").str.replace("K", "000").str.split("-", expand=True)

In [ ]:
df['Maximum Salary'] = df['Maximum Salary'].str.replace(r'\(Employer est.\)', '', regex = True)
df['Minimum Salary'] = df['Minimum Salary'].str.replace(r'\(Employer est.\)', '', regex = True)

In [ ]:
# Remove non-numeric characters
df['Maximum Salary'] = df['Maximum Salary'].str.extract(r'(\d+\.?\d*)')[0].astype(float)
df['Minimum Salary'] = df['Minimum Salary'].str.extract(r'(\d+\.?\d*)')[0].astype(float)

In [ ]:
df['Average Salary'] = (df['Maximum Salary'] + df['Minimum Salary'])/2

In [ ]:
df[['Company Name clean','Company Rating']] = df['Company Name'].str.split('\n', expand=True)
df['Company Rating'] = df['Company Rating'].astype(float)

In [ ]:
#dropped company rating as a seprate column for Rating already exists

df.drop('Company Rating', inplace = True, axis =1)

In [ ]:
#Replacing all -1 values from Founded to nan
df['Founded'] = df['Founded'].replace(-1,np.nan)

In [ ]:
# calculating company age

df['Company age'] = 2025 - df['Founded']

In [ ]:
#extracting minimum and maximum number of employees

df[['Min_emp','Max_emp']] = df['Size'].str.split(' to ', expand =True)
df['Min_emp'] = pd.to_numeric(df['Min_emp'].str.replace(r'\D','',regex=True), errors='coerce').astype('Int64')

df['Max_emp'] = pd.to_numeric(df['Max_emp'].fillna(0).str.split(' ').str[0], errors='coerce').fillna(0).astype(int)

In [ ]:
df['Average_emp'] = abs((df['Max_emp'] + df['Min_emp'])/2)

In [ ]:
Cleaned_df = df.copy()

In [ ]:
Cleaned_df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Minimum Salary', 'Maximum Salary', 'Average Salary',
       'Company Name clean', 'Company age', 'Min_emp', 'Max_emp',
       'Average_emp'],
      dtype='object')

In [ ]:
#Company Paying the maximum salary

Cleaned_df[Cleaned_df['Maximum Salary'] == max(Cleaned_df['Maximum Salary'])]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Revenue,Competitors,Minimum Salary,Maximum Salary,Average Salary,Company Name clean,Company age,Min_emp,Max_emp,Average_emp
452,"Director II, Data Science - GRM Actuarial",$202K-$306K (Glassdoor est.),Advance your career at Liberty Mutual Insuranc...,3.3,Liberty Mutual Insurance\n3.3,"Chicago, IL","Boston, MA",10000+ employees,1912.0,Company - Private,...,$10+ billion (USD),"Travelers, Allstate, State Farm",202000.0,306000.0,254000.0,Liberty Mutual Insurance,113.0,10000,0,5000.0
675,"Director II, Data Science - GRM Actuarial",$202K-$306K (Glassdoor est.),Advance your career at Liberty Mutual Insuranc...,3.3,Liberty Mutual Insurance\n3.3,"Chicago, IL","Boston, MA",10000+ employees,1912.0,Company - Private,...,$10+ billion (USD),"Travelers, Allstate, State Farm",202000.0,306000.0,254000.0,Liberty Mutual Insurance,113.0,10000,0,5000.0
913,"Director II, Data Science - GRM Actuarial",$202K-$306K (Glassdoor est.),Advance your career at Liberty Mutual Insuranc...,3.3,Liberty Mutual Insurance\n3.3,"Chicago, IL","Boston, MA",10000+ employees,1912.0,Company - Private,...,$10+ billion (USD),"Travelers, Allstate, State Farm",202000.0,306000.0,254000.0,Liberty Mutual Insurance,113.0,10000,0,5000.0

In [ ]:
#Companies paying the least salary
Cleaned_df[Cleaned_df['Minimum Salary'] == min(Cleaned_df['Minimum Salary'])]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Revenue,Competitors,Minimum Salary,Maximum Salary,Average Salary,Company Name clean,Company age,Min_emp,Max_emp,Average_emp
523,"Senior Operations Data Analyst, Call Center Op...",$10-$17 Per Hour(Glassdoor est.),Summary\n\n\nIndependent contributor role that...,2.7,FLEETCOR\n2.7,"Nashville, TN","Peachtree Corners, GA",5001 to 10000 employees,2000.0,Company - Public,...,$2 to $5 billion (USD),<NA>,10.0,17.0,13.5,FLEETCOR,25.0,5001,10000,7500.5
787,"Senior Operations Data Analyst, Call Center Op...",$10-$17 Per Hour(Glassdoor est.),Summary\n\n\nIndependent contributor role that...,2.7,FLEETCOR\n2.7,"Nashville, TN","Peachtree Corners, GA",5001 to 10000 employees,2000.0,Company - Public,...,$2 to $5 billion (USD),<NA>,10.0,17.0,13.5,FLEETCOR,25.0,5001,10000,7500.5

In [ ]:
#Highest Rated Companies

Cleaned_df[Cleaned_df['Rating']==5.0]['Company Name clean'].unique()

array(['Brightside', 'BPA Services', 'Alector', 'Gridiron IT',
       'Hamilton Porter LLC', 'Aptonet Inc', 'Genesis Research', '605',
       'NS8', 'Freedman Healthcare', 'Senti Biosciences',
       'Royce Geospatial', 'Quality Consulting Group',
       'Edison Software, Inc.', 'SkySync',
       'HireResources a Tailored Solutions Company (WO)', 'Jobot'],
      dtype=object)

In [ ]:
#Oldest company
Cleaned_df[Cleaned_df['Company age']== max(Cleaned_df['Company age'])]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Revenue,Competitors,Minimum Salary,Maximum Salary,Average Salary,Company Name clean,Company age,Min_emp,Max_emp,Average_emp
347,Data Scientist,$95K-$161K (Glassdoor est.),Overview\n\n\nAt Sothebys we use data science...,3.6,Sotheby's\n3.6,"New York, NY","New York, NY",1001 to 5000 employees,1744.0,Company - Public,...,$500 million to $1 billion (USD),<NA>,95000.0,161000.0,128000.0,Sotheby's,281.0,1001,5000,3000.5

In [ ]:
#Youngest Company
Cleaned_df[Cleaned_df['Company age']== min(Cleaned_df['Company age'])]['Company Name clean'].unique()

array(['Sapphire Digital', 'Hamilton Porter LLC', 'U.Group'], dtype=object)

In [ ]:
#Highest number of employess
Cleaned_df[Cleaned_df['Max_emp'] == max(Cleaned_df['Max_emp'])]['Company Name clean'].unique()

array(['ManTech', 'The Hanover Insurance Group', 'Juniper Networks',
       'Sartorius', 'Edgewell Personal Care', 'Intrado',
       'Johns Hopkins University Applied Physics Laboratory',
       'TransUnion', 'MITRE', 'Autodesk', 'Insight Enterprises, Inc.',
       'BlueCross BlueShield of Tennessee', 'MassMutual', 'Tower Health',
       'BWX Technologies', 'Reynolds American', 'Genesys',
       'AmeriHealth Caritas', 'FLEETCOR', 'Mentor Graphics',
       'Maxar Technologies'], dtype=object)

In [ ]:
Cleaned_df['Size'] = Cleaned_df['Size'].replace('-1',np.nan)
Cleaned_df['Size'] = Cleaned_df['Size'].replace('Unknown',np.nan)

Hypothesis Testing

Based on your chart experiments, define three hypothetical statements from the dataset. In the next three questions, perform hypothesis testing to obtain final conclusion about the statements through your code and statistical testing.

Hypothetical Statement - 1

Companies with higher ratings tend to offer higher salaries.

Null Hypothesis (H): No significant difference in salaries between high-rated and low-rated companies.

Alternative Hypothesis (H): Higher-rated companies (4.0) offer significantly higher salaries.

Hypothetical Statement - 2

Older Companies Pay More

Null Hypothesis (H): No significant difference in salaries between age of company

Alternative Hypothesis (H): Older companies pay more

Hypothetical Statement - 3

Older Companies are rated high

Null Hypothesis (H): There is no significant difference in company ratings between older and newer companies.

Alternative Hypothesis (H): Older companies have significantly higher ratings than newer companies.

Feature Engineering & Data Pre-processing

Handling Missing Values

In [ ]:
# Handling Missing Values & Missing Value Imputation

Cleaned_df.isnull().sum()[Cleaned_df.isnull().sum()>0]

Size               26
Founded            97
Competitors       634
Minimum Salary    214
Average Salary    214
Company age        97
Min_emp            15
Average_emp        15
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer

median_imputer = SimpleImputer(strategy ='median')
mean_imputer = SimpleImputer(strategy='mean')

#founded is not normally distriubted, hence using median imputation
Cleaned_df['Founded'] = median_imputer.fit_transform(Cleaned_df[['Founded']])

Cleaned_df.drop('Competitors', axis = 1,inplace = True)

#minimum salary is normally distributed, hence using mean imputation
Cleaned_df['Minimum Salary'] = mean_imputer.fit_transform(Cleaned_df[['Minimum Salary']])

#since minimum salary's missing values are handeled, we are recalculating the average salary to fill in the missing values
Cleaned_df['Average Salary'] = (Cleaned_df['Maximum Salary'] + Cleaned_df['Minimum Salary'])/2

#founded missing values have been handeled, recalculating the company age to fill in missing values
Cleaned_df['Company age'] = 2025 - Cleaned_df['Founded']

#replacing the missing values in minimum number of employees with median values as the distribution is not normal
Cleaned_df['Min_emp'] = median_imputer.fit_transform(Cleaned_df[['Min_emp']])

#recalculating avg emp column as the minimum emp is recalculated
Cleaned_df['Average_emp'] = (Cleaned_df['Max_emp'] + Cleaned_df['Min_emp'])/2

#Replaced Unknow and -1 from Type of Ownership with Other Organization
Cleaned_df['Type of ownership'].replace(['Unknown','-1'],'Other Organization',inplace = True)

#Some of the companies ratings are -1 which is not possible, these may be defalut values filling in for missing values
Cleaned_df['Rating'].replace(-1, round(Cleaned_df['Rating'].mean(),1), inplace=True)

/tmp/ipython-input-37-4247733703.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Cleaned_df['Type of ownership'].replace(['Unknown','-1'],'Other Organization',inplace = True)
/tmp/ipython-input-37-4247733703.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Cleaned_df['Rating'].replace(-1, round(Cleaned_df['Rating'].mean(),1), inplace=True)

In [ ]:
Cleaned_df.isnull().sum()[Cleaned_df.isnull().sum()>0]

Size    26
dtype: int64

In [ ]:
Cleaned_df['Founded'] = Cleaned_df['Founded'].astype(int)

In [ ]:
# Encode your categorical columns

Cleaned_df['Sector'] = Cleaned_df['Sector'].astype("category")
Cleaned_df['Type of ownership'] = Cleaned_df['Type of ownership'].astype("category")

In [ ]:
!pip install category_encoders

import category_encoders as ce
label_encoder = ce.OrdinalEncoder()
Cleaned_df['encoded_sector'] = label_encoder.fit_transform(Cleaned_df['Sector'])
Cleaned_df['encoded_type_of_ownership'] = label_encoder.fit_transform(Cleaned_df['Type of ownership'])

Collecting category_encoders
  Downloading category_encoders-2.8.1-py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (2.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scikit-learn>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (1.15.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.11/dist-packages (from category_encoders) (0.14.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.5->category_encoders) (2025.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.6.0->category_encoders) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels>=0.9.0->category_encoders) (24.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category_encoders) (1.17.0)
Downloading category_encoders-2.8.1-py3-none-any.whl (85 kB)
    85.7/85.7 kB 2.4 MB/s eta 0:00:00
Installing collected packages: category_encoders
Successfully installed category_encoders-2.8.1

Conclusion

This project successfully analyzed salary trends in the tech industry using a 2017 Glassdoor dataset, addressing key questions about salary variations by job position, company size, and location.

Through extensive exploratory data analysis (EDA), 15 insightful visualizations revealed patterns such as salary disparities, the prevalence of mid-sized companies, and high-demand job locations.

Feature engineering, including TF-IDF vectorization of job descriptions and categorical encoding, enabled robust model development.

Three machine learning modelsLinear Regression, Random Forest Regressor, and Stacking Regressorwere implemented, with the Stacking Regressor (combining XGBoost, Bayesian Ridge, and SVR) achieving the best performance after cross-validation and hyperparameter tuning **(R: 0.97, RMSE:  0.17)**.

SHAP analysis highlighted encoded_job_title and encoded_company_name as the most influential features for salary prediction.

The final model was saved for deployment, providing a reliable tool for estimating salaries based on job attributes, which can benefit job seekers, employers, and policymakers in understanding and navigating compensation trends.

### ***Hurrah! You have successfully completed your Machine Learning Capstone Project !!!***